<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>

<body>
    <H1>Welcome to text analyzer</H1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 1248px; height: 332px;"></textarea>
        <input type="checkbox" name="removepunc" id=""> Remove Punctuation <br>
        <input type="checkbox" name="fullcaps" id=""> full Capitalize <br>
        <input type="checkbox" name="newlineremover" id=""> newlineremover <br>
        <input type="checkbox" name="extraspaceremover" id=""> extraspaceremover <br>
        <input type="checkbox" name="charcount" > charcount <br>
        <button type="submit">Analyze Text</button>
    </form>

</body>

</html>